
.dflex{
  display: flex;
}
.wf{
  width: 100%;
}
.tc{
  text-align: center;
}
.tl{
  text-align: left;
}
.alc{
  align-items: center;
}
.px_30{
  padding:0px  30px;
}
.pxy_30{
  padding: 30px;
}
.px_10{
  padding: 10px;
}
.px_15{
  padding: 15px;
}
.mx_15{
  margin: 0px 15px;
}
.pz_10{
  padding-top: 10px;
}
.px_50{
  padding: 0px 50px;
}
.row{
  display:flex;
}
.row{
  display: flex;
  width: 100%;
  
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}
.col_2{
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.container{
  align-items: center;
  margin-left: auto;
}
.jc{
  justify-content: center;
}
.js{
  justify-content: space-around;
}
.jb{
  justify-content: space-between;
}
.fwrap{
  flex-wrap: wrap;
}
.logo{
  height:60px;
  border-radius: 50%;
  text-decoration: none;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  padding: 20px 10px;
  margin: 0 auto;

}
.symbol{
color:rgb(0,28,85)
}
.logo-name{
  font-family: Agustina Regular;
  font-weight: 700;
  padding: 0 10px;
  color:rgb(0,28,85)
}
.navbar{
  list-style-type: none;
}
.navbar>a{
  text-decoration: none;
  color:rgb(35, 62, 115);
}
.navitem{
  font-family:Google Sans Regular;
  font-size: 22px;
}
.colblue{
  color:#111a28 !important; 
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  place-content: center;
  justify-content: space-around;
  
}
.row{
  display: flex;
  width: 100%;
  
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}
.col_2{
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.container{
  align-items: center;
  margin-left: auto;
}
.gp_20{
  gap: 20px;
}
.ctimg{
  border-radius: 50%;

}
.txt{
  font-family: 'Comforter', cursive;
  font-size: 32px;
}
.navmenu{
  text-decoration: none;
  list-style-type: none;
  line-height: 30px;
}
.hamburgericon{
  float: left;
}
.navsitem{
  text-decoration:none;
}

@media(min-width:821px){
  .hamburgericon{
    display: none;
  }
  .navmenu{
    display: none !important;
  }
}
@media(max-width:820px){
  .navigation{
    display: none;
  }
  
}

@media(max-width:600px){
  .hamburgericon{
    display: show;
    float: left;
    padding-left: 10px;
  } 
  .sign{
    padding-left: 30px;
    font-size: 60px;
  }
}
.footer{
  margin-top: 60px;
  display:flex;
  align-items: center;
  justify-content: space-around;
}